*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    padding: 15px 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 10px 13px 5px 0px rgba(230,209,230,1); */
}
nav a{
    text-decoration: none;
    color: white;
}
.header-logo{
    font-size: 25px;
    font-weight: 550;
}
.header-btn{
    padding: 0px 40px 0px 0px;
    width: 30%;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
}
.home{
    margin-top: 1px;
    display: flex;
    height: 90vh;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    border-bottom: 1px solid;
}
.home-video{
    position: absolute;
    width: 100%;
}
.home-left{
    padding-left: 5%;
    width: 50%;
}
.name{
    padding-left: 12%;
}
.home-left a{
    margin-left: 24%;
}
.home-right{
    height: 100vh;
    width: 50%;
    background-repeat: no-repeat;
    padding: 50px;
    background-image: url(./img/1659937991764-removebg-preview.png);
    background-position: center;
}
.home-img{
    width: 80%;
    height: 10%;
} 
.project{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.project .img-section{ 
    width: 60%;
    padding: 0px 30px;
}
img{
    height: 350px;  
    width: 100%;
}
.project .text{

    height: 350px;
    width: 40%;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-section{
    color: black;
    display: flex;
    justify-content: space-between;
    height: 42x;
    width: 50%;
}
.project button{
    padding: 10px 30px;
    border-radius: 5px;
    padding-top: 10px;
    font-weight: 600;
    cursor: pointer;
}
.project button:hover{
    background-color: rgb(192, 176, 176);
}

.res{
    display: none;
}
.img-section{
    display: block;
}
@media(max-width:1006px){
    .res{
        display: block;
    }
    .img-section{
        display: none;
    }
    .project{
        flex-direction: column;
        width: 100%;
    }
    .project .img-section{
        
        height: 450px;
        width: 100%;
        padding: 10px 0px;
    }
    img{
        height: 350px;
    }
    .project .text{
    
        height: 450px;
        width: 100%;
        padding: 10px 00px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
    }
    .btn-section{

        display: flex;
        justify-content: space-between;
        /* margin-top: 20px; */
        /* height: 42x; */
        width: 80%;
    }

}

















.footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 150%;
}